@import url('https://fonts.googleapis.com/css2?family=Fredoka:wdth,wght@112.5,300..700&display=swap');

html, body {
    margin: 0;
    padding: 0;
    font-family: "Fredoka", sans-serif;
    height: 100%;
    width: 100%;
    overflow-x: hidden;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

.background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('/images/background.jpg');
    background-size: cover;
    background-position: center;
    z-index: -1;
}

.overlay {
    text-align: center;
    color: rgb(0, 0, 0);
    padding: 20px;
    max-width: 500px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
}

.logo {
    width: 40%;
    height: auto;
    text-align: center;
}

.comic {
    width: 100%;
    height: auto;
    margin-bottom: 20px;
}

.navbar {
    position: fixed;
    top: 0;
    width: 100%;
    overflow-x: auto; /* Allows horizontal scrolling */
    z-index: 0;
    background-color: rgba(255, 255, 255, 0.8);
    display: flex;
    justify-content: center;
}

.navbar-inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px; /* Added padding to ensure the inner content is not touching the sides */
}

.navbar-logo {
    display: flex;
    align-items: center;
    margin: 0 20px;
}

.navbar-logo .logo {
    width: 50px;
    height: auto;
    margin-right: 10px;
    margin-bottom: 5px; /* Added margin-bottom to prevent touching the top */
}

.navbar-logo .logo-text {
    font-family: "Fredoka", sans-serif;
    font-size: 30px;
    font-weight: bold; /* Made the text bold */
    color: #fff;
    text-shadow: -2px -2px 0 #ff7db4, 2px -2px 0 #ff7db4, -2px 2px 0 #ff7db4, 2px 2px 0 #ff7db4;
}

.navbar button {
    display: flex;
    font-family: "Fredoka", sans-serif;
    border: none;
    background-color: #fff;
    color: #000;
    padding: 10px 20px;
    text-align: center;
    font-size: 16px;
    cursor: pointer;
    border-radius: 20px;
    box-shadow: 0px 0px 20px rgba(36, 36, 36, 0.4);
    transition: background-color 0.3s, box-shadow 0.3s ease;
    margin: 0 10px;
    white-space: nowrap; /* Prevent buttons from wrapping to a new line */
}

.navbar button:hover {
    box-shadow: 6px 6px 6px rgba(36, 36, 36, 0.6);
    background-color: #ff7db4;
    color: #fff;
}

.navbar button:active {
    background-color: #404040;
}

/* Media query for smaller screens */
@media (max-width: 600px) {
    .navbar {
        justify-content: flex-start; /* Align items to the start for better scroll */
    }

    .navbar-inner {
        justify-content: flex-start; /* Align items to the start for better scroll */
        padding: 10px 5px; /* Reduce padding for smaller screens */
    }

    .navbar button {
        margin: 0 5px; /* Reduce margin for smaller screens */
        padding: 10px 15px; /* Reduce padding for smaller screens */
        font-size: 14px; /* Reduce font size for smaller screens */
    }
}   

.navbar-bottom {
    position: fixed;
    bottom: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 10px;
    z-index: 1;
}

.navbar-bottom button {
    display: flex;
    font-family: "Fredoka", sans-serif;
    border: none;
    background-color: #000;
    color: #fff;
    padding: 10px 20px;
    text-align: center;
    font-size: 16px;
    cursor: pointer;
    border-radius: 20px;
    box-shadow: 0px 0px 20px rgba(36, 36, 36, 0.4);
    transition: background-color 0.3s;
    transition: box-shadow 0.3s ease; 
    margin: 0 10px;
}

.navbar-bottom button:hover {
    box-shadow: 6px 6px 6px rgba(36, 36, 36, 0.6);
    background-color: #fff;
    color: #000;
}
.navbar-bottom button:active {
    background-color: #404040;
}
.content {
    padding: 20px;
    text-align:center;
    margin-top: 100px;
    margin-bottom: auto;
    max-width: 800px;
    background-color: rgba(255, 255, 255, 0.4);
    border-radius: 10px;
    box-shadow: 0 0px 20px #000;
}

.comic-section {
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 10px;
    color: black;
    margin: 20px auto;
    width: 90%;
}

.content2 {
    display: flex;
    justify-content: center; /* Center align horizontally */
    align-items: center; /* Center align vertically */
    flex-wrap: wrap; /* Allow content to wrap if needed */
    padding: 20px;
    margin-top: 40px;
    max-width: 800px;
    max-height: 800px;
    width: 100%; /* Ensure full width responsiveness */
    background-color: rgba(255, 255, 255, 0.4);
    border-radius: 10px;
    box-shadow: 0 0px 20px #000;
}

.gif-container {
    flex: 1;
    text-align: center;
    padding: 20px;
}

.gif-container img {
    width: 100%; /* Make the image fill the container width */
    height: auto; /* Maintain aspect ratio */
    max-height: 400px; /* Adjust maximum height as needed */
    display: block; /* Ensure image is centered horizontally */
    margin: 0 auto;
}

.about-section {
    flex: 1;
    padding: 20px;
    max-width: 100%;
    text-align: center;
}

.about-section h2 {
    font-size: 28px;
    margin-bottom: 10px;
}

.about-section p {
    font-size: 16px;
    line-height: 1.6;
    color: #666;
}

/* Popup styling */
/* Styles for tag popup */
.tags-popup {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1000;
    background-color: (0, 0, 0, 0.8); /* Dark semi-transparent background */
    padding: 20px;
    border-radius: 20px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.8);
    display: none;
}

.tags-popup-content {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    width: 300px;
    max-height: 300px; /* Maximum height of the popup content */
    overflow-y: auto; /* Enable vertical scroll */
    text-align: center;
    position: relative; /* Ensure relative positioning for absolute child */
}

.close-btn {
    color: black;
    position: absolute;
    top: 0px; /* Adjust top position as needed */
    right: 10px; /* Adjust right position as needed */
    font-size: 50px;
    font-weight: bold;
    cursor: pointer;
    z-index: 3;
}

.close-btn:hover,
.close-btn:focus {
    color: rgb(255, 62, 62);
    text-decoration: none;
    cursor: pointer;
}

.tag-list {
    list-style-type: none;
    padding: 0;
}

.tag-list li {
    margin: 10px 0;
}

.tag-list a {
    text-decoration: none;
    color: black;
    padding: 10px 20px;
    border-radius: 20px;
    border: 1px solid transparent;
    display: inline-block;
}

.tag-list a:hover {
    background-color: #000;
    color: #fff;
}

.tag-list a.selected {
    border: 3px solid #ff7db4;
}


/* Other styles for the comics and layout as needed */
