@import url('https://fonts.googleapis.com/css2?family=Fredoka:wdth,wght@112.5,300..700&display=swap');

html, body {
    margin: 0;
    padding: 0;
    font-family: "Fredoka", sans-serif;
    height: 100%;
    width: 100%;
    overflow-x: hidden;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

.background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('/images/background.jpg');
    background-size: cover;
    background-position: center;
    z-index: -1;
}

.overlay {
    text-align: center;
    color: rgb(0, 0, 0);
    padding: 20px;
    width: 100%;
    max-width: 800px;
}

.logo {
    width: 40%;
    height: auto;
    margin-bottom: 20px;
}

.navbar {
    position: fixed;
    top: 0;
    width: 100%;
    overflow-x: auto; /* Allows horizontal scrolling */
    z-index: 0;
    background-color: rgba(255, 255, 255, 0.8);
    display: flex;
    justify-content: center;
}

.navbar-inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px; /* Added padding to ensure the inner content is not touching the sides */
}

.navbar-logo {
    display: flex;
    align-items: center;
    margin: 0 20px;
}

.navbar-logo .logo {
    width: 50px;
    height: auto;
    margin-right: 10px;
    margin-bottom: 5px; /* Added margin-bottom to prevent touching the top */
}

.navbar-logo .logo-text {
    font-family: "Fredoka", sans-serif;
    font-size: 30px;
    font-weight: bold; /* Made the text bold */
    color: #fff;
    text-shadow: -2px -2px 0 #ff7db4, 2px -2px 0 #ff7db4, -2px 2px 0 #ff7db4, 2px 2px 0 #ff7db4;
}

.navbar button {
    display: flex;
    font-family: "Fredoka", sans-serif;
    border: none;
    background-color: #fff;
    color: #000;
    padding: 10px 20px;
    text-align: center;
    font-size: 16px;
    cursor: pointer;
    border-radius: 20px;
    box-shadow: 0px 0px 20px rgba(36, 36, 36, 0.4);
    transition: background-color 0.3s, box-shadow 0.3s ease;
    margin: 0 10px;
    white-space: nowrap; /* Prevent buttons from wrapping to a new line */
}

.navbar button:hover {
    box-shadow: 6px 6px 6px rgba(36, 36, 36, 0.6);
    background-color: #ff7db4;
    color: #fff;
}

.navbar button:active {
    background-color: #404040;
}

/* Media query for smaller screens */
@media (max-width: 600px) {
    .navbar {
        justify-content: flex-start; /* Align items to the start for better scroll */
    }

    .navbar-inner {
        justify-content: flex-start; /* Align items to the start for better scroll */
        padding: 10px 5px; /* Reduce padding for smaller screens */
    }

    .navbar button {
        margin: 0 5px; /* Reduce margin for smaller screens */
        padding: 10px 15px; /* Reduce padding for smaller screens */
        font-size: 14px; /* Reduce font size for smaller screens */
    }
}   

#social-media {
    text-align: left;
    width: 30%;
    float: left;
}

.social-buttons {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.social-button {
    display: block;
    padding: 10px;
    color: white;
    text-align: center;
    border-radius: 10px;
    text-decoration: none;
    transition: background-color 0.3s;
}

.youtube { background-color: #CC181E; }
.reddit { background-color: #FF5700; }
.instagram {
    background: rgb(249,206,52);
    background: linear-gradient(142deg, rgba(249,206,52,1) 0%, rgba(238,42,123,1) 44%, rgba(98,40,215,1) 100%);
}
.webtoon{ background-color: #00dc64; }

.social-button:hover {
    opacity: 0.8;
}

#contact-form {
    text-align: left;
    width: 60%;
    float: right;
}

#contact-form form {
    display: flex;
    flex-direction: column;
}

#contact-form label {
    margin: 10px 0 5px;
}

#contact-form input, #contact-form textarea {
    padding: 10px;
    margin-bottom: 15px;
    border: 2px solid #ccc;
    border-radius: 10px;
    resize: none;
}

#contact-form input[type="submit"] {
    font-family: "Fredoka", sans-serif;
    background-color: #ff7db4;
    color: white;
    border: none;
    cursor: pointer;
    padding: 15px 0;
    font-size: 16px;
    border-radius: 10px;
    transition: background-color 0.3s;
    transition: box-shadow 0.3s ease;
}

#contact-form input[type="submit"]:hover {
    box-shadow: 10px 10px 10px rgba(36, 36, 36, 0.6);
    background-color: #000;
    color: white;
}
